
body {
background-color: White;
/*HTML color picker: https://www.w3schools.com/colors/colors_picker.asp */
color: Black;
font-family: arial, helvetica, sans-serif;

}

section.gallery {
background-color:black;
color: white
}

/* Box Directory 
 */

div.directory{
    background-color:black;
    color:white;
    width: 300px;
    border: 100px gray;
    padding: 50px;
    margin: 20px;
    font-size: 300%;
}

/* Unvisited link */
a.directory:link {
color: white;    
}
/* Visited Link */
a.directory:visited {
color: yellow;    
}
/* Hover Link */
a.directory:hover {
color: orange;    
}


figure {width:30%;  }
img.photo {width:100%;height:auto   }
/*  If I want to style any element with the class of "photo" I could just write
 * .photo {}
 * */

ol {list-style-type: lower-alpha;
padding: 5em;
    
}
