
body {
background-color:white;
color: indigo;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}

a:link{
    color:white;
}


.dropdown{
        position: relative;
        display:inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color:white;
    border: purple solid 3px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.warning{
    background-color:red;
    font-family: impact, sans-serif;
    text-align:center;
    line-height: 1.5;
    font-weight: bold;
    color: white;
    border:blue solid 3px;
    margin:20px;
    padding: 5px;    
}

div.center{
    padding: 5px;
    margin:20px;
    background-color: red;
    border:blue solid 3px;
    color: white;
    font-family: impact, sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    text-indent: 50px;
}

section.gallery{
    margin:5px;
    border:white 3px;
    background-color:red;
    float:left;
    width:256px;
}
section.gallery img{
    width:100%;
    height: auto;
}

figure {background-color:lavender; margin:3em; width: 30%;} 
figcaption {font-style:italic; font-size:.8em;}
figure img {max-width:300px; width:100%;}
